.product-number {
    color: yellow;
    font-size: 0.875em;
    padding-bottom: 0.938em;
    padding-top: 0.938em;
    font-weight: 200;
}

.product-test-class {
    font-size: 1em;
    color: red;
}

.discount-percentage{
    color: #c00;
    font-weight: bold;
    font-size: 1.25em;
    display: flex;
}